<div class="py-6 px-4 sm:px-6 lg:px-8 mx-auto max-w-screen-md">
    <h2 class="mb-4 font-black md:text-[50px] sm:text-[40px] text-[30px] tracking-tight text-center">
        Contact Us</h2>
    <p class="mb-8 lg:mb-16 font-light text-center text-gray-sm:text-xl">Got a technical issue? Want to send feedback
        about a beta feature? Need details about our Business plan? Let us know.</p>
    <form [formGroup]="contactForm" (ngSubmit)="submitForm()" class="space-y-8">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Your email <span
                    class="text-red-500 text-sm">*</span></label>
            <input type="email" id="email" formControlName="email"
                [ngClass]="{'ring-1 ring-red-500': contactForm.get('email')?.invalid && contactForm.get('email')?.touched}"
                class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-[#0DBE5E] focus:border-[#0DBE5E] block w-full p-2.5"
                placeholder="name@gmail.com" />
        </div>
        <div>
            <label for="subject" class="block mb-2 text-sm font-medium text-gray-900">Subject</label>
            <input type="text" id="subject" formControlName="subject"
                class="block p-3 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 shadow-sm focus:ring-[#0DBE5E] focus:border-[#0DBE5E]"
                placeholder="Let us know how we can help you" />
        </div>
        <div class="sm:col-span-2">
            <label for="message" class="block mb-2 text-sm font-medium text-gray-900">Your message <span
                    class="text-red-500 text-sm">*</span></label>
            <textarea id="message" rows="6" formControlName="message"
                [ngClass]="{'ring-1 ring-red-500': contactForm.get('message')?.invalid && contactForm.get('message')?.touched}"
                class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-[#0DBE5E] focus:border-[#0DBE5E]"
                placeholder="Leave a comment..."></textarea>
        </div>
        <button type="submit"
            class="py-3 px-5 text-sm font-medium text-center text-white rounded-lg bg-[#0DBE5E] sm:w-fit hover:bg-green-500 focus:ring-4 focus:outline-none focus:ring-green-300">Send
            message</button>
    </form>
</div>