<section class="bg-gray-50 py-6 px-4 sm:px-6 lg:px-8">
    <div class="max-w-screen-xl mx-auto text-center">
        <h2 class="font-black sm:text-[50px] text-[40px] tracking-tight text-center">About Us</h2>
    </div>
    <div class="mt-12 max-w-screen-xl mx-auto grid gap-8 lg:grid-cols-2 lg:gap-16">
        <!-- Left Column -->
        <div>
            <h2 class="text-3xl font-extrabold text-gray-900 text-center">Welcome to Book Swap</h2>
            <p class="mt-4 text-gray-600 text-lg text-justify">
                "Welcome to Book-Swap, a vibrant community where avid readers come together to share the joy of
                discovering new worlds through literature. Our platform is a haven for bibliophiles, offering a seamless
                and delightful way to exchange cherished books with fellow enthusiasts worldwide. Join us in fostering a
                culture of literary camaraderie and explore a treasure trove of stories waiting to be uncovered. Happy
                swapping!"
            </p>
        </div>

        <!-- Right Column -->
        <div>
            <h2 class="text-3xl font-extrabold text-gray-900 text-center">Our Story</h2>
            <p class="mt-4 text-gray-600 text-lg text-justify">
                Book-Swap was born out of a shared passion for books and a desire to build a community of avid readers
                who believe in the power of sharing stories. We understand the magic of getting lost in the pages of a
                good book, and we believe that books should have the chance to embark on new adventures with different
                readers. With this vision in mind, we created Read Cycle to connect book lovers, promote sustainability,
                and foster a sense of literary camaraderie.
            </p>
        </div>
    </div>

    <div class="mt-16 max-w-screen-xl mx-auto grid gap-8 lg:grid-cols-2 lg:gap-16">
        <!-- Left Column -->
        <div class="flex flex-col gap-6">
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900 text-center">What We Stand For</h2>
                <ul class="mt-4 text-gray-600 text-lg list-disc pl-6 text-justify">
                    <li class="mb-2"><span class="font-semibold">Community:</span> We're building a tight-knit community
                        of book enthusiasts who appreciate
                        the
                        value of sharing literary treasures. Connect with fellow readers, engage in meaningful
                        discussions,
                        and expand your literary horizons.</li>
                    <li class="mb-2"><span class="font-semibold">Sustainability:</span> By sharing and reusing books,
                        we're making a positive impact on the
                        environment. Reduce waste and give your books a second life by sharing them with others.</li>
                    <li><span class="font-semibold">Discovery:</span> Explore a vast world of literature right at your
                        fingertips. Discover hidden gems,
                        explore diverse genres, and connect with books you might never have encountered otherwise.</li>
                </ul>
            </div>
            <div>
                <h2 class="text-3xl font-extrabold text-gray-900 text-center">Future Updates</h2>
                <p class="mt-4 text-gray-600 text-lg text-justify">
                    At Book-Swap, we're committed to continuously improving your book-swapping experience. In the
                    pipeline, we
                    have exciting features in store to make your literary journey even more enjoyable. Look forward to a
                    thriving Book Community where you can connect with fellow readers who share your passion for
                    specific
                    genres, authors, and literary interests. Additionally, we're introducing user connections, allowing
                    you to
                    make friends with fellow book enthusiasts, fostering a sense of community and expanding your reading
                    circle.
                    And that's just the beginning – we're dedicated to bringing you more enhancements for a seamless and
                    personalized exchange process. Stay tuned for a world of new possibilities in the world of books!
                </p>
                <p class="mt-4 text-gray-600 text-lg text-justify">
                    If you have any questions, suggestions, or would like to get involved, don't hesitate to <a
                        href="#contact" class="text-indigo-600">contact us <i
                            class="fa-solid fa-arrow-right-long mx-2"></i></a>
                </p>
            </div>
        </div>

        <!-- Right Column -->
        <div>
            <h2 class="text-3xl font-extrabold text-gray-900 text-center">How It Works</h2>
            <ol class="mt-4 text-gray-600 text-lg list-decimal pl-6 text-justify">
                <li class="mb-2"><span class="font-semibold">Authentication:</span> Before you start your book-swapping
                    journey, we prioritize your
                    security. You'll begin by authenticating yourself to access all the features and benefits our
                    platform offers.</li>
                <li class="mb-2"><span class="font-semibold">Book-Store Exploration:</span> Once authenticated, you'll
                    find yourself in our vibrant
                    book-store, where a world of literary adventures awaits. Explore a diverse collection of books
                    listed by fellow users, each one a potential gem waiting to be discovered.</li>
                <li class="mb-2"><span class="font-semibold">Detailed Book Views:</span> Clicking on a book card takes
                    you to a detailed view, revealing
                    more about the book and the person who listed it. Get to know the story behind the book and the avid
                    reader who wants to share it with you.</li>
                <li class="mb-2"><span class="font-semibold">User Profiles:</span> Interested in learning more about the
                    person behind the book? Click on
                    the user's icon to visit their profile. Here, you'll find a treasure trove of information about
                    them, along with a list of all the books they have available for exchange.</li>
                <li class="mb-2"><span class="font-semibold">Connecting with Others:</span>
                    <ul class="list-disc pl-6">
                        <li class="mb-2"><span class="font-semibold">Manual Contact:</span> Reach out using their
                            provided social handles for a direct and
                            personal connection.</li>
                        <li><span class="font-semibold">Direct Messaging:</span> Simply click the message icon on a book
                            card to send a personalized email.
                            In future updates, we're excited to introduce in-app chatting for an even more interactive
                            experience.</li>
                    </ul>
                </li>
                <li><span class="font-semibold">Listing Books for Exchange:</span> Have a book you're ready to share?
                    Use the book-exchange icon to list it
                    for others to see in their book store. After a successful exchange, you can easily remove the listed
                    book, ensuring it no longer appears in the store.</li>
            </ol>
        </div>
    </div>

    <div class="mt-16 max-w-screen-xl mx-auto grid gap-4 md:grid-cols-2">
        <img class="w-full rounded-lg"
            src="https://res.cloudinary.com/dnp36kqdc/image/upload/v1694810969/pexels-olena-bohovyk-3646172_kp9qwk.jpg"
            alt="office content 1">
        <img class="mt-4 w-full lg:mt-10 rounded-lg"
            src="https://res.cloudinary.com/dnp36kqdc/image/upload/v1694810969/pexels-marta-dzedyshko-2067569_edrtp4.jpg"
            alt="office content 2">
    </div>
</section>