<h2 class="text-center font-black md:text-[50px] sm:text-[40px] text-[30px]">About Us.
</h2>
<div class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div class="font-light text-gray-600 sm:text-lg">
        <h2 class="mb-4 sm:text-4xl text-2xl tracking-tight font-extrabold text-gray-900">Welcome to Read Cycle</h2>
        <p class="mb-4">
            Welcome to Read Cycle, your gateway to a thriving community of book lovers and the ultimate destination for
            sharing the joy of reading through book swapping. Our mission is to connect book enthusiasts, foster
            meaningful exchanges, and make it easier than ever to discover new literary treasures.</p>
    </div>
    <div class="font-light text-gray-600 sm:text-lg">
        <h2 class="mb-4 sm:text-4xl text-2xl tracking-tight font-extrabold text-gray-900">Our Story</h2>
        <p class="mb-4">Read Cycle was born out of a shared passion for books and a desire to build a community of avid
            readers who believe in the power of sharing stories. We understand the magic of getting lost in the pages of
            a good book, and we believe that books should have the chance to embark on new adventures with different
            readers. With this vision in mind, we created Read Cycle to connect book lovers, promote sustainability, and
            foster a sense of literary camaraderie.
        </p>
    </div>
    <div class="font-light text-gray-600 sm:text-lg">
        <h2 class="mb-4 sm:text-4xl text-2xl tracking-tight font-extrabold text-gray-900">What We Stand For</h2>
        <p class="mb-2">At Read Cycle, we stand for more than just swapping books. We believe in:</p>
        <p class="mb-4"><span class="font-semibold">Community:</span> We're building a tight-knit community of book
            enthusiasts who appreciate the value of sharing literary treasures. Connect with fellow readers, engage in
            meaningful discussions, and expand your literary horizons.
        </p>
        <p> <span class="font-semibold">Sustainability:</span> By sharing and reusing books, we're making a positive
            impact on the environment. Reduce waste and give your books a second life by sharing them with others.
        </p>
        <p> <span class="font-semibold">Discovery:</span> Explore a vast world of literature right at your fingertips.
            Discover hidden gems, explore diverse genres, and connect with books you might never have encountered
            otherwise.</p>
        <p> <span class="font-semibold">Connections:</span> Beyond books, Read Cycle is about building connections.
            Forge friendships, exchange ideas, and unite through the magic of storytelling.</p>
    </div>
    <div class="font-light text-gray-600 sm:text-lg">
        <h2 class="mb-4 sm:text-4xl text-2xl tracking-tight font-extrabold text-gray-900">How It Works: </h2>
        <p class="mb-4"> Create a virtual library of your favorite books, complete with details and reviews, and let
            others know which books you're open to swapping. Explore fellow readers' virtual bookshelves, searching by
            title, author, genre, or location to discover your next literary adventure. Connect with other members,
            initiate conversations, and propose book swaps, whether in person or through our secure messaging system.
            After each swap, leave ratings and reviews to help fellow readers discover exceptional books and build your
            reputation as a trusted swapper. Join us to share your love for books and make the most of the Read Cycle
            community!</p>
    </div>
    <div class="font-light text-gray-600 sm:text-lg">
        <h2 class="mb-4 sm:text-4xl text-2xl tracking-tight font-extrabold text-gray-900">Join the Read Cycle Community
        </h2>
        <p class="mb-4">Join our growing community of book lovers and become a part of the Read Cycle story. Whether
            you're an avid reader or just looking to clear some space on your bookshelf, Read Cycle welcomes you with
            open arms. Together, let's create a world where every book finds its perfect reader.

            Thank you for being a part of Read Cycle. Happy reading and happy swapping!</p>
        <p class="mb-4">If you have any questions, suggestions, or would like to get involved, don't hesitate to
            <a href="#contact"> contact us.<i class="fa-solid fa-arrow-right-long mx-2"></i>
            </a>
        </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
        <img class="w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-2.png"
            alt="office content 1">
        <img class="mt-4 w-full lg:mt-10 rounded-lg"
            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/content/office-long-1.png"
            alt="office content 2">
    </div>
</div>