<section id="authentication-modal" tabindex="-1" aria-hidden="true" [ngClass]="{'hidden': !showModal}"
    class="fixed inset-0 z-50 flex justify-center items-center bg-opacity-70 bg-gray-900 backdrop-blur-sm">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow">
            <button type="button"
                class="absolute top-3 right-2.5 text-gray-600 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center"
                data-modal-hide="authentication-modal" (click)="closeModal.emit()">
                &#x2715;
                <span class="sr-only">Close modal</span>
            </button>
            <div class="px-6 py-6 lg:px-8">
                <h3 class="mb-4 text-xl font-medium text-gray-900">Your Account</h3>
                <app-tabs-container>
                    <app-tab tabTitle="Login">
                        <!-- Login Form -->
                        <form (ngSubmit)="login()">
                            <!-- Email -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Email</label>
                                <input type="email" [(ngModel)]="emailLogin" name="emailLogin" class="block w-full py-1.5 px-3 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent
                        focus:border-indigo-600" placeholder="Enter Email" required />
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Password</label>
                                <input type="password" [(ngModel)]="passwordLogin" name="passwordLogin" class="block w-full py-1.5 px-3 border border-gray-400 transition
                      duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-600"
                                    placeholder="Password" required />
                            </div>
                            <button type="submit" class="my-6 block w-full bg-indigo-600 text-white py-1.5 px-3 rounded transition
                      hover:bg-indigo-700">
                                Submit
                            </button>
                            <hr class="my-6 border-gray-300 w-full">

                            <button type="button" (click)="signInWithGoogle()"
                                class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg py-2 border border-gray-300">
                                <div class="flex items-center justify-center">
                                    <div class="google-icon"></div>
                                    <span class="ml-4">
                                        Log in
                                        with
                                        Google</span>
                                </div>
                            </button>
                        </form>
                    </app-tab>
                    <app-tab tabTitle="Register">
                        <!-- Registration Form -->
                        <form (ngSubmit)="register()">
                            <!-- Name -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Name</label>
                                <input type="text" [(ngModel)]="name" name="name" class="block w-full py-1.5 px-3 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-600"
                                    placeholder="Enter Name" />
                            </div>
                            <!-- Email -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Email</label>
                                <input type="email" [(ngModel)]="emailRegister" name="emailRegister" class="block w-full py-1.5 px-3 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-600"
                                    placeholder="Enter Email" required />
                            </div>
                            <!-- Password -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Password</label>
                                <input type="password" [(ngModel)]="passwordRegister" name="passwordRegister" class="block w-full py-1.5 px-3 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-600"
                                    placeholder="Password" required />
                            </div>
                            <!-- Confirm Password -->
                            <div class="mb-3">
                                <label class="inline-block mb-2">Confirm Password</label>
                                <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" class="block w-full py-1.5 px-3 border border-gray-400 transition
                        duration-500 focus:outline-none rounded bg-transparent focus:border-indigo-600"
                                    placeholder="Confirm Password" required />
                            </div>
                            <button type="submit" class="my-6 block w-full bg-indigo-600 text-white py-1.5 px-3 rounded transition
                      hover:bg-indigo-700 disabled:opacity-50">
                                Submit
                            </button>
                            <hr class="my-6 border-gray-300 w-full">
                            <button type="button" (click)="signInWithGoogle()"
                                class="w-full block bg-white hover:bg-gray-100 focus:bg-gray-100 text-gray-900 font-semibold rounded-lg py-2 border border-gray-300">
                                <div class="flex items-center justify-center">
                                    <div class="google-icon"></div>
                                    <span class="ml-4">
                                        Sign Up
                                        with
                                        Google</span>
                                </div>
                            </button>
                        </form>
                    </app-tab>
                </app-tabs-container>
            </div>
        </div>
    </div>
</section>