@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&family=Montserrat:wght@400;500;600;800&family=Open+Sans:wght@400;600;800&display=swap');
@import '@ctrl/ngx-emoji-mart/picker';
@import 'ngx-toastr/toastr';
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FDFCFE;
}

html{
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }

@media (max-width: 640px) {
  body::-webkit-scrollbar {
    display: none; 
  }
}

